.Sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction:  column;
    width: 170px;
    height: 100%;
    background-color: #26262c;
    color: #ffffff;
}

.sidebar-icon {
    width: 1.50em;
    height: 1.50em;
    margin-right: 16px;
    cursor: pointer;
    user-select: none;
    }

.sidebar-header{
    position: relative;
    height: 56px;
    padding-top: 12px;
    padding-left: 10px;


    }

.sidebar-footer{
    position: absolute;
    bottom:0;
    width: 95%;
    margin-right: 5px;
    text-align: center;
    font-size: 14px;
    padding-bottom: 0.5rem;

    }

.sidebar-items {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    margin-top: -10px;
}

.sidebar-items .item {
    display: flex;
    align-items: center;
    padding: 16px 8px;
    border-radius: 5px;
    transition: background-color 0.2s;
    cursor: pointer;
    }

.sidebar-items .item:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
